div.registerpage{
    width: 100%;
    height: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    div.registerpage__content{
        width: 100%;
        max-width: 340px;
        padding: 0px 4px;
        box-sizing: border-box;
        position: relative;

        @include respond-above(xs){
            padding: 0px;
        }

        section.registerpage__logo{
            width: 100%;
            position: absolute;
            top:  -120px;

            div.registerpage__logo__content{
                width: 100%;
                height: 50px;
                background-image: url('../../images/logos/logo-w-full.svg');
                background-repeat: no-repeat;
                background-position: center;
                animation: float 4s ease-in-out infinite;
            }
        } // section.registerpage__logo

        div.register{
            position: relative;
            background-color: #EDEEF0;
            border-radius: 6px;

            div.register__container{
                width: 100%;
                padding: 20px;
                box-sizing: border-box;

                div.register__buttons{
                    width: 75%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    height: 25px;

                    div.register__buttons__arrow{
                        height: 25px;
                        width: 25px;
                        background-image: url('../../images/icons/arrow-g.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;

                        &#right{
                            transform: rotate(180deg);
                        }
                    }
                } // div.register__buttons
            } // div.register__container
        } // div.register
    } // div.registerpage__content
}