@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  background-color: #1dd1a1;
}

.hidden {
  display: none;
}

.txt-green {
  color: #1dd1a1;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-10px);
  }
}
div.pageloader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.pageloader div.pageloader__icon {
  height: 30px;
  width: 30px;
  animation: rotate 1.2s infinite;
  background-image: url("../../images/logos/logo-w.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
div.homepage {
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
div.homepage div.homepage__content {
  width: 100%;
  max-width: 340px;
  padding: 0px 4px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 576px) {
  div.homepage div.homepage__content {
    padding: 0px;
  }
}
div.homepage div.homepage__content section.homepage__logo {
  width: 100%;
  position: absolute;
  top: -120px;
}
div.homepage div.homepage__content section.homepage__logo div.homepage__logo__content {
  width: 100%;
  height: 50px;
  background-image: url("../../images/logos/logo-w-full.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: float 4s ease-in-out infinite;
}
div.homepage div.homepage__content section.login {
  position: relative;
  background-color: #EDEEF0;
  border-radius: 6px;
}
div.homepage div.homepage__content section.login div.login-error-message {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  background-color: #e74c3c;
  border-radius: 4px;
  animation: 0.3s fadeIn;
}
div.homepage div.homepage__content section.login div.login-error-message p {
  color: #Fff;
  margin: 0;
  font-size: 12px;
  padding: 10px 10px;
}
div.homepage div.homepage__content section.login div.login-error-message i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
}
div.homepage div.homepage__content section.login::after {
  position: absolute;
  right: -15px;
  top: 50%;
  height: 30px;
  width: 30px;
  transform: translateY(-50%) rotate(45deg);
  background-color: #EDEEF0;
}
@media (min-width: 768px) {
  div.homepage div.homepage__content section.login::after {
    content: "";
  }
}
div.homepage div.homepage__content section.login div.login__container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
div.homepage div.homepage__content section.login div.login__container form input, div.homepage div.homepage__content section.login div.login__container form button {
  display: block;
  border: none;
  width: 100%;
  margin: 15px 0px;
  padding: 8px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border 0.3s;
}
div.homepage div.homepage__content section.login div.login__container form input:focus, div.homepage div.homepage__content section.login div.login__container form button:focus {
  border: 2px solid #1dd1a1;
  outline: 0;
}
div.homepage div.homepage__content section.login div.login__container form input::placeholder {
  opacity: 0.6;
}
div.homepage div.homepage__content section.login div.login__container form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
div.homepage div.homepage__content section.login div.login__container form button[type=submit] {
  background-color: #1dd1a1;
  color: #FFF;
  cursor: pointer;
}
div.homepage div.homepage__content section.login div.login__container p.login__newacc {
  font-size: 11px;
  color: #808080;
  text-align: center;
  margin: 10px 0px;
}
div.homepage div.homepage__content section.login div.login__container p.login__newacc a {
  color: #1dd1a1;
  text-decoration: none;
}

div.registerpage {
  width: 100%;
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
div.registerpage div.registerpage__content {
  width: 100%;
  max-width: 340px;
  padding: 0px 4px;
  box-sizing: border-box;
  position: relative;
  margin-top: 50vh;
  transform: translateY(-50%);
}
@media (min-width: 576px) {
  div.registerpage div.registerpage__content {
    padding: 0px;
  }
}
div.registerpage div.registerpage__content section.registerpage__logo {
  width: 100%;
  position: absolute;
  top: -120px;
}
div.registerpage div.registerpage__content section.registerpage__logo div.registerpage__logo__content {
  width: 100%;
  height: 50px;
  background-image: url("../../images/logos/logo-w-full.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: float 4s ease-in-out infinite;
}
div.registerpage div.registerpage__content div.register {
  position: relative;
  background-color: #EDEEF0;
  border-radius: 6px;
}
div.registerpage div.registerpage__content div.register div.login-error-message {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  background-color: #e74c3c;
  border-radius: 4px;
  animation: 0.3s fadeIn;
}
div.registerpage div.registerpage__content div.register div.login-error-message p {
  color: #Fff;
  margin: 0;
  font-size: 12px;
  padding: 10px 10px;
}
div.registerpage div.registerpage__content div.register div.login-error-message i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
}
div.registerpage div.registerpage__content div.register div.login-success-message {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  background-color: #EDEEF0;
  border-radius: 4px;
  animation: 0.3s fadeIn;
}
div.registerpage div.registerpage__content div.register div.login-success-message p {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.4px;
  padding: 10px 10px;
}
div.registerpage div.registerpage__content div.register div.login-success-message i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #1DD1A1;
}
div.registerpage div.registerpage__content div.register div.register__container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform {
  width: 100%;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form {
  width: 100%;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form input, div.registerpage div.registerpage__content div.register div.register__container section.registerform form button {
  display: block;
  border: none;
  width: 100%;
  margin: 15px 0px;
  padding: 8px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border 0.3s;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form input:focus, div.registerpage div.registerpage__content div.register div.register__container section.registerform form button:focus {
  border: 2px solid #1dd1a1;
  outline: 0;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form input::placeholder {
  opacity: 0.6;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form div.register-terms {
  display: flex;
  justify-content: flex-start;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form div.register-terms input {
  width: 20px;
  height: 15px;
  width: 15px;
  margin: 0px 10px 0px 0px;
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form div.register-terms p {
  font-size: 13.33px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.5);
}
div.registerpage div.registerpage__content div.register div.register__container section.registerform form button[type=submit] {
  background-color: #1dd1a1;
  color: #FFF;
  cursor: pointer;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar {
  width: 100%;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar h1 {
  margin: 0px 0px 20px 0px;
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar h1 span {
  color: black;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar div.avatar-preview {
  width: 120px;
  height: 120px;
  margin: 0px auto 10px auto;
  border-radius: 100%;
  background-color: #FFF;
  background-image: url("../../images/user/avatar.svg");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar div.avatar-upload {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar div.avatar-upload input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar div.avatar-upload input[type=file] + label {
  color: #1dd1a1;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 0.3px;
  text-align: center;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar button[type=submit] {
  background-color: #1dd1a1;
  color: #FFF;
  cursor: pointer;
  display: block;
  border: none;
  width: 100%;
  margin: 10px 0px 0px 0px;
  padding: 8px 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border 0.3s;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar button[type=submit]:focus {
  border: 2px solid #1dd1a1;
  outline: 0;
}
div.registerpage div.registerpage__content div.register div.register__container section.registeravatar p.registeravatar__skip {
  text-align: right;
  font-size: 10px;
  opacity: 0.5;
  letter-spacing: 0.4px;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}
div.registerpage div.registerpage__content div.register div.register__container div.register__buttons {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 25px;
}
div.registerpage div.registerpage__content div.register div.register__container div.register__buttons div.register__buttons__arrow {
  height: 25px;
  width: 25px;
  background-image: url("../../images/icons/arrow-g.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
div.registerpage div.registerpage__content div.register div.register__container div.register__buttons div.register__buttons__arrow#right {
  transform: rotate(180deg);
}

/*# sourceMappingURL=index.css.map */
